<!DOCTYPE html>
<html>
<head>
    <title>Document Layout Detection</title>
</head>
<body>
    <h1>Upload Document</h1>
    <form method="post" enctype="multipart/form-data" , action="{% url 'upload' %}">
        {% csrf_token %}
        <input type="file" name="document">
        <button type="submit">Upload</button>
    </form>

    {% if uploaded_file_url %}
        <h2>Uploaded Document:</h2>
        <img src="{{ uploaded_file_url }}" alt="Document">
        <h2>Extracted Text:</h2>
        <pre>{{ text }}</pre>
    {% endif %}
</body>
</html>
